<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>

    <section id="hero-section">
        <img id="hero-image" src="/images/britney-spears-wallpaper.jpeg">
    </section>

    <section id="info">
        <h1> Britney Spears </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel tincidunt tortor, vel ultrices urna. </p>
        <a href="/about"> About her</a>
        <a href="/works"> Her work</a>

    </section>
    
</body>
</html>